<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>luerlock.lgbt</title>
    <link href="{{ get_url(path="normalize.css", cachebust=true) | safe }}" rel="stylesheet">
    <link href="{{ get_url(path="site.css", cachebust=true) | safe }}" rel="stylesheet">
  </head>
  <body>
    <h2 class="title">sunday din</h2>
    <main class="column">
      <h4>last one til september :(</h4>
      <h4>sending meself off</h4>
      <h4>@ our house as always</h4>
      <h4></h4>
      <h4>5pm doors open</h4>
      <h4>6pm snacks + gin fizzes</h4>
      <h4>7pm carbonara + wine</h4>
      <h4>9pm walk to iseminger for a last cheers to the old house</h4>
      <h4>10pm survivors get deranged at bonners</h4>
      <h4></h4>
      <h4>bring anyone u like!</h4>
      <h4>just lmk how many ppl you'll be <a href="mailto:rsvp.4dqzs@passmail.net">by email</a> or any other way</h4>
      <h4>:)</h4>
    </main> 
  </body>
</html>
